
@{
    ViewBag.Title = "記帳-新增";
}

<html>
    <head>
        <meta charset="utf-8" />
        <style type="text/css">
            body {
                background-color: beige;
                font-family: Verdana, Arial;
                margin: 50px;
            }
            form {
                padding-top: 10px;
                padding-left:100px;
            }
            .date {
                margin-left: 325px;
                margin-top: 100px;
            }
            .record {
                width: 400px;
                height: 50px;
                margin: 30px;
                margin-left: 100px;
                margin-top: 10px;
            }
            tr {
                letter-spacing: 10px;
            }
            .total {
                margin-top: 200px;
                margin-left: 450px;
            }
            .v-line {
                border-left: thick solid #000;
                height: 500px;
                left: 50%;
                margin-top: -20px;
                position: absolute;
            }
            .setting {
                margin-left: 1200px;
                margin-top: -450px;
            }
            .add {
                margin-left: 700px;
                margin-top: -30px;
            }
            #Submit1 {
                margin-left: 2px;
            }
            #back {
                margin-left: 500px;
            }
        </style>
    </head>

    <body>
        <div class="v-line"></div>
        <div class="date">
            <input id="button" type="button" value=" " />
            <font size="4">2023年4月</font>
            <input id="button" type="button" value=" " />
        </div>
        <div>
            <form action="" method="post">
                <table class="record" style="border-top: 2px #003153 solid; border-bottom: 2px #003153 solid; " cellpadding="8" border='0'>
                    <tr>
                        <th>日期</th>
                        <th>類別</th>
                        <th>金額</th>
                    </tr>
                </table>
            </form>
        </div>
        <div class="total">
            <p><b><label for="total_expenses">總收入：</label></b></p>
            <p><b><label for="total_income">總支出：</label></b></p>
        </div>
        <div class="setting">
            <p><input id="Button1" type="button" value="設定" /></p>
            <p><input id="Button1" type="button" value="任務" /></p>
        </div>
        <div class="add">
            <p><b><font size="6">新增</font></b></p>
            <p>
                <table border="1">
                    <tr>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                    </tr>
                    <tr>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                        <td height=100 width=100><input type="submit" style="width: 100px; height: 100px; background-image: url(C:\Users\user\OneDrive\桌面\專題112502\112502\小雞.jpg);" value=" "></td>
                    </tr>
                </table>
            </p>
            <p>
                <label for="start">日期：</label>
                <input type="date" id="start" name="trip-start"
                       value="2023-04-20"
                       min="2022-01-01" max="2024-12-31">
            </p>
            <p>
                <label for="cost">金額：</label>
            </p>
            <p>
                <input id="Reset1" type="reset" style="width: 150px;" value="重置" />
                <input id="Submit1" type="submit" style="width: 150px;" value="新增" />
            </p>
            <p>
                <input id="back" type="button" value="返回" />
            </p>
        </div>
    </body>
</html>

