
.book_left { /* 記帳左邊(記帳紀錄) */
    text-align: center;
    width: 658px;
    float: left;
    margin-top: 50px;
    height: 508px;
    margin-left: 81px;
}

.total { /* 新增-總收入支出 */
    text-align: left;
    height: 88px;
    margin-left: 365px;
    margin-top: 350px
}

.book_add { /* 新增右邊 */
    margin-left: 735px;
    width: 425px;
    height: 511px;
    margin-top: 50px;
}

#form1 {
    height: 576px;
    margin-bottom: 0px;
}

#TextBox1 {
    margin-top: 15px;
    Height: 24px;
    Width: 150px;
}

#Reset1 { /* 新增-取消按鈕 */
    margin-left: 19px;
}

#Submit1 { /* 新增-新增按鈕 */
    margin-left: 147px;
}

.book_edit { /* 編輯右邊 */
    margin-left: 735px;
    width: 425px;
    height: 511px;
    margin-top: 50px;
}

#back { /* 返回按鈕*/
    margin-left: 1210px;
}

.forget_pw {
    text-align: center;
    height: 557px;
}