* {
    margin: 0px 4px 0 0px;
    margin: 0px 4px 0 0px;
    padding: 0;
    color: teal;
}

body {
    position: center;
    background-color: beige;
    font-family: Verdana, Arial;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 479px 0 0px;
    width: 1200px;
}

/*--------------------------------主畫面---------------------------------------*/
.main_body {
    background-image: url('images/home_bg.png');
    background-size: 1416px 984px;
    height: 900px;
    width: 1600px;
    /*background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;*/
}

#closet { /* 衣櫥 */
    padding-left: 350px;
    padding-top: 150px;
}

.wishes {
    float: right;
    padding-top: 100px;
    padding-right: 0px;
}

.bookkeeping {
    float: right;
    margin-top: 500px;
}

#bookkeeping {
    padding-top: 50px;
    padding-left: 30px;
}

#pig {
    position: fixed;
    bottom: -150px;
    left: 180px;
}

.back { /* 返回按鈕 */
    position: fixed;
    bottom: 3px;
    right: 6px;
}
/*--------------------------------主畫面結束---------------------------------------*/

/*---------------------------------任務/設定---------------------------------------*/
.setting {
    float: right;
    margin-right: -120px;
}

#setting { /*設定*/
}

#ach { /*任務*/
}
/*--------------------------------任務/設定結束------------------------------------*/

/*-------------------------------------登入----------------------------------------*/
.log_body {
    background-image: url('images/log_o_door.png');
    background-size: 1416px 730.8px;
}

.b_log_body {
    background-image: url('images/log_c_door.png');
    background-size: 727.2px 656.4px;
}

    .b_log_body:hover {
        box-shadow: 0 0 10px #fff; /* 設定發光效果 */
    }

.log_tit {
    margin-top: 20px;
    font-size: 60px;
}

.log_form {
    text-align: center;
    padding: 20px;
    border-style: solid;
    width: 670px;
    height: 580px;
    margin: auto;
    margin-top: 90px;
    margin-left: 50%;
    transform: translate(-16.5%);
}

.log_text {
    margin-top: 80px;
}

.log_button_block {
    margin-top: 80px;
}

.log_button { /* 登入/註冊按鈕 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .log_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

#user_acc, #user_pwd { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}
/*--------------------------------登入結束------------------------------------*/

/*----------------------------------註冊--------------------------------------*/
.reg_text {
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-60%, 0);
}

.reg_text_block {
    text-align: right;
    width: 365px;
    height: 400px;
    font-size: 20px;
}

.reg_gender {
    margin-bottom: 18px;
}

.reg_button_block {
    transform: translate(10%, 0);
}

#acc, #name, #nickname, #pwd, #c_pwd { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}
/*--------------------------------註冊結束------------------------------------*/

/*----------------------------------記帳--------------------------------------*/
.boo_body {
    background-image: url('images/boo_bg.png');
    background-size: 1093.8px 753.6px;
}

.book_content { /* 記帳區塊 */
    position: center;
    width: 1093.8px;
    height: 753.6px;
    padding: 20px;
}

/*---------------記帳左---------------*/
.boo_left {
    position: fixed;
    top: 100px; /* 留出標題欄的高度 */
    left: 22.8%;
    padding: 20px;
    width: 475px;
    height: 680px;
}

.boo_date {
    font-weight: bold;
    margin-top: 20px;
    height: 80px;
    text-align: center;
}

.boo_date_button { /* 日期按鈕 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .boo_date_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

.boo_table_block {
    margin-left: -20px;
    position: center;
    padding: 20px;
    height: 480px; /* 設定內容區域的高度，使其可以出現滾動條 */
    width: 455px;
    overflow-y: scroll; /* 讓內容區域出現垂直滾動條 */
}

table.gridview {
    width: 395px;
    height: 50px;
    margin-top: 5px;
    margin-left: 30px;
    border: none;
}

    table.gridview tr {
        text-align: center;
    }

    table.gridview th, table.gridview td {
        border-left: none;
        border-right: none;
    }

        table.gridview th:first-child, table.gridview td:first-child {
            border-left: none;
        }

.boo_total { /* 總收入、總支出 */
    font-size: 25px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
}
/*-------------記帳左結束-------------*/

/*---------------記帳右---------------*/
.boo_right {
    position: fixed;
    top: 100px; /* 留出標題欄的高度 */
    left: 51.3%;
    padding: 20px;
    width: 475px;
    height: 680px;
}

.boo_add {
    text-align: center;
    margin-top: 65px;
    margin-left: 5px;
}

/*---類別---*/
.c_container {
    display: flex;
    align-items: center; /* 在主軸上居中對齊flex子元素 */
    justify-content: center; /* 在交叉軸上居中對齊flex子元素 */
    flex-direction: column; /* 將flex子元素的排列方向設置為垂直排列 */
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none; /* 隱藏radio button輸入框 */
}

.radio-btn {
    margin: 2px;
    width: 100px;
    height: 100px;
    border: 3px solid aliceblue;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367; /* 陰影 */
    cursor: pointer;
}

    .radio-btn > i { /* 勾勾 */
        color: #ffffff;
        background-color: teal;
        font-size: 15px;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%) scale(4); /* 向左平移50%，並放大4倍 */
        border-radius: 50px;
        padding: 4px; /* 內邊距 */
        transition: 0.2s; /* 過渡效果秒數 */
        pointer-events: none; /* 設鼠標事件不可用 */
        opacity: 0; /* 透明度 */
    }

    .radio-btn .hobbies-icon { /* 類別圖片 */
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 將圖片向上向左平移50%的宽度和高度 */
    }

        .radio-btn .hobbies-icon i {
            line-height: 80px;
            font-size: 60px;
        }

    .radio-btn h3 { /* 類別文字 */
        margin-top: 8px;
        font-size: 16px;
    }

.custom-radio input:checked + .radio-btn { /* 如果選取類別 */
    border: 3px solid teal;
}

    .custom-radio input:checked + .radio-btn > i {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
/*---類別結束---*/

input[type="date"], input[type="money"], input[type="memo"], input[type="keyword"] { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

.reset, .add { /* 重新輸入、確定新增 */
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .reset:hover, .add:hover {
        background-color: lightseagreen;
    }
/*-------------記帳右結束--------------*/
/*--------------------------------記帳結束------------------------------------*/

/*----------------------------------成就--------------------------------------*/
.ach_body {
    background-image: url('images/ach_bg.png');
    background-size: 851.4px 872.4px;
}

.ach_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.ach_top_tit { /* 頁面標題 */
    position: fixed;
    color: darkcyan;
    font-size: 60px;
    left: 46%;
    top: 60px;
}

.ach_top_button { /* 成就頂端按鈕 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .ach_top_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

.ach_top_button2 { /* 成就頂端按鈕區塊 */
    position: fixed;
    top: 160px;
    left: 50%;
}

.ach_button_get { /* 成就領取紐 */
    Height: 50px;
    Width: 50px;
    margin-top: -20px;
    margin-left: 300px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .ach_button_get:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

.ach_content { /* 成就區塊 */
    position: fixed;
    margin: 35%;
    margin-top: 200px; /* 留出標題欄的高度 */
    padding: 20px;
    height: 550px; /* 設定內容區域的高度，使其可以出現滾動條 */
    width: 510px;
    overflow-y: scroll; /* 讓內容區域出現垂直滾動條 */
}

.ach_tit { /* 成就標題 */
    font-size: xx-large;
    font-weight: bold;
    color: teal;
    margin-left: 50px;
}

.ach_con { /* 成就內容 */
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

.literal { /* 進度條 */
    margin-top: -15px;
}

.ach_content ul li { /* 清單(單項成就) */
    list-style: none;
    width: 100%;
    height: 150px;
}

    .ach_content ul li img { /* 成就圖片 */
        Height: 130px;
        Width: 130px;
        float: left;
        margin-left: -10px;
        top: 0;
        left: 0;
        object-fit: cover;
    }
/*--------------------------------成就結束------------------------------------*/

/*--------------------------------願望清單------------------------------------*/
.buc_body {
    background-image: url('images/dre_bg.png');
    background-size: 907px 753.5px;
    text-align: center;
}

.buc_form {
    margin-top: 200px;
    margin-left: 550px;
}

#b_trashcan {
    position: absolute; /*指定絕對位置*/
    top: 230px;
    left: -700px;
}

.wishes1 {
    position: absolute; /*指定絕對位置*/
    top: 225px;
    left: 921px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
}

.wishes2 {
    position: absolute; /*指定絕對位置*/
    top: 550px;
    left: 550px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes3 {
    position: absolute; /*指定絕對位置*/
    top: 550px;
    left: 730px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes4 {
    position: absolute; /*指定絕對位置*/
    top: 378px;
    left: 900px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes5 {
    position: absolute; /*指定絕對位置*/
    top: 550px;
    left: 900px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes6 {
    position: absolute; /*指定絕對位置*/
    top: 205px;
    left: 1070px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes7 {
    position: absolute; /*指定絕對位置*/
    top: 378px;
    left: 1070px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes8 {
    position: absolute; /*指定絕對位置*/
    top: 153px;
    left: -20px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.word1 {
    padding-top: 38px;
    padding-left: 10px;
}

.pick_wish {
    position: absolute; /*指定絕對位置*/
    top: 120px;
    left: -520px;
    background: url('images/dre_m_memo.png');
    background-size: 300px;
    font-size: x-large;
    width: 300px;
    height: 300px;
    margin-top: -300px;
}

.word_pick {
    padding-top: 90px;
    font-size: xx-large;
    font-weight: bold;
}

#change_wish {
    font-size: large;
    Height: 40px;
    Width: 80px;
    margin-top: 25px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    #change_wish:hover {
        background-color: lightseagreen;
    }

#ImageButton2 { /*願望垃圾桶*/
    margin-left: -100px;
}

.review { /*審核區*/
    position: absolute; /*指定絕對位置*/
    top: 30px;
    left: 150px;
    background: url('images/dre_rev_button.png');
    background-size: 160px;
    font-size: xx-large;
}

.word_review {
    padding-top: 65px;
    padding-left: 10px;
    font-weight: bold;
}

/*願望清單-新增*/
.buc_add_body {
    background-image: url('images/dre_rev_button.png');
    background-size: 500px 500px;
}

.buc_add_form {
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 350px;
    margin-top: 350px;
    margin-left: 50%;
    transform: translate(13%, -5%);
}

.buc_add {
    padding-top: 60px;
}

#wish_textbox {
    margin-top: 40px;
    margin-left: 30px;
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

.buc_add_button {
    font-size: large;
    Height: 60px;
    Width: 80px;
    margin-top: 60px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .buc_add_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

/*願望清單-垃圾桶*/
.trashcan_body {
    background-image: url('images/dre_rev_button.png');
    background-size: 500px 500px;
}

.tra_form {
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 350px;
    margin-top: 350px;
    margin-left: 50%;
    transform: translate(13%, -5%);
}

.trashcan {
    padding-top: 20px;
}

.textarea {
    width: 250px;
    height: 150px;
    border: transparent;
    font-size: xx-large;
    line-height: 1.5;
    padding: 10px;
}

.trashcan_button {
    margin-top: 20px;
}

.trashcan_button { /* 成就領取紐 */
    font-size: large;
    Height: 60px;
    Width: 80px;
    margin-top: 20px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .trashcan_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

/*------------------------------------願望清單-審核區------------------------------------*/
.review_body {
    position: absolute; /*指定絕對位置*/
    background-image: url('images/dre_rev_button.png');
    background-size: 500px 500px;
}

.rev_form {
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 350px;
    margin-left: 50%;
    background-color: blueviolet;
}

.review_button {
    margin-top: 40px;
    font-size: x-large;
}

.dre_button { /* 願望功能確認按鈕 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    margin-top: 10px;
}

    .dre_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }



/*------------------------------------------------*/
.c_background {
    background-color: lightblue;
}

.cloth {
    overflow-y: scroll;
    background-color: tan;
}

.c_button {
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .c_button:hover {
        background-color: lightseagreen;
    }

#top {
    position: absolute; /*指定絕對位置*/
    left: 520px;
    top: 20px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#pents {
    position: absolute; /*指定絕對位置*/
    left: 560px;
    top: 20px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#dress {
    position: absolute; /*指定絕對位置*/
    left: 520px;
    top: 180px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#hat {
    position: absolute; /*指定絕對位置*/
    left: 560px;
    top: 180px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#shoes {
    position: absolute; /*指定絕對位置*/
    left: 520px;
    top: 340px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#socks {
    position: absolute; /*指定絕對位置*/
    left: 560px;
    top: 340px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#eyes {
    position: absolute; /*指定絕對位置*/
    left: 520px;
    top: 500px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#mouth {
    position: absolute; /*指定絕對位置*/
    left: 560px;
    top: 500px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#hair {
    position: absolute; /*指定絕對位置*/
    left: 520px;
    top: 660px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#earring {
    position: absolute; /*指定絕對位置*/
    left: 560px;
    top: 660px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

.sssright {
    position: absolute; /*指定絕對位置*/
    right: 97px;
    top: 676px;
}

.settinggg {
    position: absolute; /*指定絕對位置*/
    right: 400px;
    top: 10px;
}

#bbb {
    position: absolute; /*指定絕對位置*/
    right: 866px;
    top: 82px;
    height: 606px;
    width: 182px;
}

#hhh {
    position: absolute; /*指定絕對位置*/
    right: 935px;
    top: 373px;
    height: 40px;
    width: 60px;
}

#ccc {
    position: absolute; /*指定絕對位置*/
    right: 860px;
    top: 246px;
    height: 189px;
    width: 200px;
}

#sss {
    position: absolute; /*指定絕對位置*/
    right: 875px;
    top: 505px;
    height: 189px;
    width: 152px;
}

#ppp {
    position: absolute; /*指定絕對位置*/
    right: 874px;
    top: 387px;
    height: 262px;
    width: 152px;
}

.backk {
    position: absolute; /*指定絕對位置*/
    right: 300px;
    top: 100px;
}

#aa {
    position: absolute; /*指定絕對位置*/
    right: 500px;
    top: 120px;
    height: 60px;
    width: 100px;
}

#bb {
    position: absolute; /*指定絕對位置*/
    right: 385px;
    top: 120px;
    height: 60px;
    width: 100px;
}

#pbhair {
    position: absolute; /*指定絕對位置*/
    right: 818px;
    top: 50px;
    max-width: 15%; /* ★★★★★ */
}

#pfhair {
    position: absolute; /*指定絕對位置*/
    right: 852px;
    top: 70px;
    height: 150px;
    width: 200px;
}

#pshair {
    position: absolute; /*指定絕對位置*/
    right: 868px;
    top: 120px;
    height: 252px;
    width: 180px;
}

#peyes {
    position: absolute; /*指定絕對位置*/
    right: 887px;
    top: 180px;
    height: 60px;
    width: 140px;
}

#eeyes {
    position: absolute; /*指定絕對位置*/
    right: 887px;
    top: 155px;
    height: 45px;
    width: 140px;
}

#pmouth {
    position: absolute; /*指定絕對位置*/
    right: 888px;
    top: 228px;
    height: 45px;
    width: 140px;
}

#pglasses {
    position: absolute; /*指定絕對位置*/
    right: 875px;
    top: 177px;
    height: 80px;
    width: 165px;
}