* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}

body{
    overflow:hidden;
    background:#0094ff;
}

section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.box{
    position:absolute;
}

.container{
    position:relative;
    width:400px;
    min-height:400px;
    background:rgba(255,255,255,0.1);
    border-radius:5px;
    justify-content:center;
    align-items:center;
}

