* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}

body{
    overflow:hidden;

}

section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

    section .color{
        position:relative;
    }

    section .color:nth-child(1){
        top:-350px;
        width:600px;
        height:600px;
        background:red;
    }

        section .color:nth-child(2) {
            bottom:-150px;
              left:100px;
              width:800px;
              height:800px;
              background:orange;
        }

.container{
    position:relative;
    width:400px;
    min-height:400px;
    background:rgba(255,255,255,0.1);
    border-radius:5px;
    justify-content:center;
    align-items:center;
}

