* {
    margin: 0px 4px 0 0px;
    padding: 0;
    color: teal;
}

body {
    position: center;
    background-color: beige;
    font-family: Verdana, Arial;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 479px 0 0px;
    width: 1200px;
}

.ButtonStyle,
.ButtonStyle:focus {
    position: absolute; /*指定絕對位置*/
    border: 3px solid teal;
    border-radius: 4px;
    background-color: transparent;
    color: teal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition-duration: 0.4s;
}

    .ButtonStyle:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 2px 10px 5px teal;
        color: white;
        background-color: lightseagreen;
    }

    .ButtonStyle:after {
        content: "";
        display: block;
        position: absolute;
        margin-left: -20px !important;
        opacity: 0;
        transition: all 0.8s
    }

    .ButtonStyle:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

.ButtonStylePick {
    position: relative;
    border: 3px solid #ffffff;
    background-color: teal;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    box-shadow: 0px 2px 10px 5px teal;
}

.ButtonStyle2,
.ButtonStyle2:focus {
    position: relative;
    border: 3px solid #301305;
    border-radius: 4px;
    background-color: transparent;
    color: #301305;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition-duration: 0.4s;
}

    .ButtonStyle2:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 2px 10px 5px #301305;
        color: white;
    }

    .ButtonStyle2:after {
        content: "";
        display: block;
        position: absolute;
        margin-left: -20px !important;
        opacity: 0;
        transition: all 0.8s
    }

    .ButtonStyle2:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

.ButtonStyle3,
.ButtonStyle3:focus {
    position: relative;
    border: 3px solid teal;
    border-radius: 4px;
    background-color: transparent;
    color: teal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition-duration: 0.4s;
}

    .ButtonStyle3:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 2px 10px 5px teal;
        color: white;
        background-color: lightseagreen;
    }

    .ButtonStyle3:after {
        content: "";
        display: block;
        position: absolute;
        margin-left: -20px !important;
        opacity: 0;
        transition: all 0.8s
    }

    .ButtonStyle3:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

.ButtonStylePick {
    position: relative;
    border: 3px solid #ffffff;
    background-color: teal;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    box-shadow: 0px 2px 10px 5px teal;
}
.ButtonSize1 { /* 按鈕大小(較寬) */
    width: 150px;
    height: 40px;
}

.ButtonSize2 { /* 按鈕大小(較窄) */
    width: 120px;
    height: 60px;
}

.ButtonSize3 { /* 按鈕大小(小方塊) */
    width: 50px;
    height: 50px;
}

.TextBoxStyle, #Start { /* 輸入欄樣式 (+記帳日期) */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

.DropDownStyle { /* 下拉式選單樣式 */
    width: 70px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

.Back { /* 返回按鈕 */
    position: fixed;
    bottom: 3px;
    right: 6px;
    height: 80px;
    width: 80px;
}
/*--------------------------------主畫面---------------------------------------*/
.MainBody {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.MainForm {
    background-image: url('images/main/home_bg.png');
    background-size: 1047px 877.2px;
    position: fixed;
    text-align: center;
    height: 877.2px;
    width: 1047px;
}

#Closet { /* 更衣室 */
    background-color: transparent;
    background-image: url('images/main/home_clo.png');
    background-size: 256.2px 547.8px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 547.8px; /* 原圖0.6倍 */
    Width: 256.2px; /* 原圖0.6倍 */
    top: 55%;
    left: 0%;
    transform: translate(0, -50%);
}

    #Closet:hover {
        background-image: url('images/main/home_clo_2.png');
        background-size: 277.55px 623.35px;
        border: none;
        Height: 623.35px; /* 原圖0.65倍 */
        Width: 277.55px; /* 原圖0.65倍 */
        top: 55%;
        left: 0%;
    }

#Wishes { /* 願望清單 */
    background-color: transparent;
    background-image: url('images/main/home_dre.png');
    background-size: 210.6px 228px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 228px; /* 原圖0.6倍 */
    Width: 210.6px; /* 原圖0.6倍 */
    top: 25%;
    left: 37%;
    transform: translate(-50%, -50%);
}

    #Wishes:hover {
        background-image: url('images/main/home_dre_2.png');
        background-size: 228.15px 316.55px;
        border: none;
        Height: 316.55px; /* 原圖0.65倍 */
        Width: 228.15px; /* 原圖0.65倍 */
        top: 22%;
        left: 37%;
    }

#Ach { /* 成就 */
    background-color: transparent;
    background-image: url('images/main/home_ach.png');
    background-size: 73.2px 105.6px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 105.6px; /* 原圖0.6倍 */
    Width: 73.2px; /* 原圖0.6倍 */
    top: 23%;
    left: 70%;
    transform: translate(-50%, -50%);
}

    #Ach:hover {
        background-image: url('images/main/home_ach_2.png');
        background-size: 94.9px 158.6px;
        border: none;
        Height: 158.6px; /* 原圖0.65倍 */
        Width: 94.9px; /* 原圖0.65倍 */
        top: 20.5%;
        left: 70.8%;
    }

#Bookkeeping { /* 成就 */
    background-color: transparent;
    background-image: url('images/main/home_boo.png');
    background-size: 160.2px 49.2px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 49.2px; /* 原圖0.6倍 */
    Width: 160.2px; /* 原圖0.6倍 */
    top: 61%;
    left: 65%;
    transform: translate(-50%, -50%);
}

    #Bookkeeping:hover {
        background-image: url('images/main/home_boo_2.png');
        background-size: 186.9px 100.8px;
        border: none;
        Height: 100.8px; /* 原圖0.7倍 */
        Width: 186.9px; /* 原圖0.7倍 */
        top: 58.8%;
        left: 65.5%;
    }

#Game { /* 小遊戲 */
    background-color: transparent;
    background-image: url('images/main/home_game.png');
    background-size: 184.8px 258px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 258px; /* 原圖0.6倍 */
    Width: 184.8px; /* 原圖0.6倍 */
    top: 55%;
    left: 79%;
    transform: translate(-50%, -50%);
}

    #Game:hover {
        background-image: url('images/main/home_game_2.png');
        background-size: 200.2px 318.5px;
        border: none;
        Height: 318.5px; /* 原圖0.65倍 */
        Width: 200.2px; /* 原圖0.65倍 */
        top: 53%;
        left: 79%;
    }

#ChatBot { /* 聊天機器人 */
    background-color: transparent;
    background-image: url('images/main/home_chatbot.png');
    background-size: 41.4px 53.4px;
    border: none;
    cursor: pointer;
    position: absolute;
    Height: 53.4px; /* 原圖0.6倍 */
    Width: 41.4px; /* 原圖0.6倍 */
    top: 55%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}

    #ChatBot:hover {
        background-image: url('images/main/home_chatbot_2.png');
        background-size: 147.7px 133px;
        border: none;
        Height: 133px; /* 原圖0.7倍 */
        Width: 147.7px; /* 原圖0.7倍 */
        top: 51%;
        left: 49.8%;
    }

#Person { /* 人物 */
    position: absolute;
    Height: 494.9px;
    Width: 174.3px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Pig { /* 撲滿 */
    position: fixed;
    bottom: 35px;
    left: 210px;
    Height: 242.4px;
    Width: 373.5px;
}

.PigText {
    position: fixed;
    bottom: 10px;
    left: 215px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

#Setting {
    position: absolute;
    Height: 114.6px;
    Width: 343.2px;
    top: 2%;
    left: 1%;
}

#AvatarHead {
    position: absolute;
    Height: 98px;
    Width: 98px;
    top: 8.8%;
    left: 6.8%;
    border-radius: 98px;
    transform: translate(-50%, -50%);
}

#NickName {
    position: absolute;
    top: 8%;
    left: 12%;
    border-radius: 98px;
    font-size: 38px;
    color: paleturquoise;
    transform: translate(0, -50%);
}

#UId {
    position: absolute;
    top: 11.5%;
    left: 12.2%;
    border-radius: 98px;
    font-size: 15px;
    color: paleturquoise;
    transform: translate(0, -50%);
}
/*--------------------------------主畫面結束---------------------------------------*/
/*-----------------------------------設定------------------------------------------*/
.SetBody {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.SetForm {
    position: fixed;
    text-align: left;
    padding: 80px;
    background-color: #95CACA;
    height: 500px;
    width: 900px;
    border-radius: 30px;
    border-style: solid;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
}

.SetTitle {
    font-size: 70px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SetContent {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
}

.AvatarSmall {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

    .AvatarSmall:hover { /* 鼠標放在按鈕上 */
        width: 120px;
        height: 120px;
    }

.Ava {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.Avatar {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

    .Avatar:hover { /* 鼠標放在按鈕上 */
        width: 330px;
        height: 330px;
    }

#Xx {
    position: absolute;
    top: 10%;
    left: 93.5%;
    transform: translate(-50%, -50%);
}

#Logout, #GoBack {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#EditOk {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.SetTextBoxStyle {
    width: 150px;
    height: 40px;
    width: 350px;
    font-size: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

#Clear {
    position: absolute;
    top: 90%;
    left: 77%;
    transform: translate(-50%, -50%);
}

/*---------------------------------設定結束----------------------------------------*/
/*--------------------------------登入、註冊---------------------------------------*/
.LogBody {
    background-image: url('images/log_o_door.png');
    background-size: 1405px 700.8px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.LogForm {
    position: fixed;
    text-align: center;
    padding: 20px;
    border-style: solid;
    height: 560px;
    width: 668px;
}

/*------------登入------------*/
.LogBody {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.LogForm {
    position: fixed;
    text-align: center;
    padding: 20px;
    border-style: solid;
    height: 560px;
    width: 668px;
}

.LogTitle {
    margin-top: 20px;
    font-size: 60px;
}

.LogText {
    margin-top: 80px;
}

.LogButton { /* 按鈕區塊 */
    margin-top: 80px;
}

.LogForgetPwd {
    margin-left: 250px;
}
/*----------登入結束-----------*/
/*----------忘記密碼-----------*/
.ForgetPwdText {
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-60%, 0);
}

.DropDownList { /* 下拉式選單 */
    padding: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
}
/*--------忘記密碼結束---------*/
/*------------註冊-------------*/
.RegText {
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-60%, 0);
}

.RegTextBlock {
    text-align: right;
    width: 365px;
    height: 400px;
    font-size: 20px;
}

.RegButton {
    margin-top: -20px;
    transform: translate(12%, 0);
}
/*----------註冊結束-----------*/

/*----------------------------登入、註冊結束----------------------------------*/
/*----------------------------------記帳--------------------------------------*/
.BookBody {
    background-image: url('images/boo_bg.png');
    background-size: 1093.8px 753.6px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.BookContent { /* 記帳區塊 */
    position: center;
    width: 1050px;
    height: 650px;
    padding: 20px;
/*    background-color: bisque;*/
}

/*---------------記帳左---------------*/
.BookLeft {
    position: absolute;
    top: 48%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.BookDate { /* 記帳月份區塊 */
    font-weight: bold;
    margin-top: 20px;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.DateButtonSize { /* 記帳月份切換按鈕 */
    width: 25px;
    height: 25px;
}

.EditButton { /* 編輯按鈕 */
    position: absolute;
    margin-left: 50%;
    transform: translate(-550%, 15%);
    width: 40px;
    height: 30px;
}

.BookTable { /* 記帳紀錄 */
    margin-left: -20px;
    position: center;
    padding: 20px;
    height: 480px; /* 設定高度，使其出現滾動條 */
    width: 455px;
    overflow-y: scroll; /* 垂直滾動條 */
}

table.Gridview {
    width: 395px;
    height: 50px;
    margin-top: 5px;
    margin-left: 30px;
    border: none; /* 不要框線 */
}

    table.Gridview tr {
        text-align: center;
    }

    table.Gridview th, table.Gridview td { /* 不要左右框線 */
        border-left: none;
        border-right: none;
    }

/*        table.Gridview th:first-child, table.Gridview td:first-child {
            border-left: none;
        }*/

.BookTotal { /* 總收入、總支出 */
    font-size: 25px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
}
/*-------------記帳左結束-------------*/

/*---------------記帳右---------------*/
.BookRight {
    position: absolute;
    top: 48%;
    left: 65%;
    transform: translate(-50%, -50%);
}

/* -----書籤按鈕位置----- */
.BookmarkUp {
    position: fixed;
    top: 25px;
    height: 80px;
    width: 80px;
}

.BookmarkDown {
    position: fixed;
    top: 52px;
    height: 44.27px;
    width: 80px;
}

.AddBookmark {
    right: 750px;
}

.SearchBookmark {
    right: 660px;
}

.ReportBookmark {
    right: 570px;
}

.BookTitle { /* 功能標題 */
    text-align: center;
    margin-top: 20px;
}
/* ---書籤按鈕位置結束--- */

.BookChange { /* 功能區塊 */
    text-align: center;
    margin-top: 65px;
    margin-left: 5px;
}

/*---類別---*/
.SortContainer { /* 類別區塊 */
    display: flex;
    align-items: center; /* 在主軸上居中對齊flex子元素 */
    justify-content: center; /* 在交叉軸上居中對齊flex子元素 */
    flex-direction: column; /* 將flex子元素的排列方向設置為垂直排列 */
    font-size: 20px;
}

.RadioButtons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.SortRadio input {
    display: none; /* 隱藏radio button輸入框 */
}

.RadioBtn { /* 類別按鈕樣式 */
    margin: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid aliceblue;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367; /* 陰影 */
    cursor: pointer;
}

    .RadioBtn > i { /* 勾勾 */
        color: #ffffff;
        background-color: teal;
        font-size: 15px;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%) scale(4); /* 向左平移50%，並放大4倍 */
        border-radius: 50px;
        padding: 4px; /* 內邊距 */
        transition: 0.2s; /* 過渡效果秒數 */
        pointer-events: none; /* 設鼠標事件不可用 */
        opacity: 0; /* 透明度 */
    }

    .RadioBtn .SortIcon { /* 類別圖片 */
        border-radius: 10px;
        width: 162px;
        height: 162px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 將圖片向上向左平移50%的宽度和高度 */
    }

        .RadioBtn .SortIcon i {
            line-height: 145px;
            font-size: 60px;
        }

    .RadioBtn h3 { /* 類別文字 */
        margin-top: -10px;
        font-size: large;
    }

.SortRadio input:checked + .RadioBtn { /* 如果選取類別 */
    border: 3px solid teal;
}

    .SortRadio input:checked + .RadioBtn > i {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
/*---類別結束---*/
/*-------------記帳右結束--------------*/
/*--------------------------------記帳結束------------------------------------*/
/*----------------------------------成就--------------------------------------*/
.AchBody {
    background-image: url('images/ach_bg.png');
    background-size: 851.4px 872.4px;
}

.AchHeader { /* 上部分區塊 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.AchTopTitle { /* 頁面標題 */
    position: fixed;
    color: darkcyan;
    font-size: 60px;
    left: 46%;
    top: 60px;
}

.AchTopButton { /* 成就頂端按鈕區塊 */
    position: fixed;
    top: 160px;
    left: 50%;
}

.AchButtonGet { /* 成就領取紐 */
    Height: 50px;
    Width: 50px;
    margin-top: -20px;
    margin-left: 300px;
}

.AchContent { /* 成就區塊 */
    position: fixed;
    margin: 35%;
    margin-top: 200px; /* 留出標題欄的高度 */
    padding: 20px;
    height: 550px; /* 設定內容區域的高度，使其可以出現滾動條 */
    width: 510px;
    overflow-y: scroll; /* 讓內容區域出現垂直滾動條 */
}

.AchTit { /* 成就標題 */
    font-size: xx-large;
    font-weight: bold;
    color: teal;
    margin-left: 50px;
}

.AchCon { /* 成就內容 */
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

.Literal { /* 進度條 */
    margin-top: -15px;
}

.AchContent ul li { /* 清單(單項成就) */
    list-style: none;
    width: 100%;
    height: 150px;
}

    .AchContent ul li img { /* 成就圖片 */
        Height: 130px;
        Width: 130px;
        float: left;
        margin-left: -10px;
        top: 0;
        left: 0;
        object-fit: cover;
    }
/*--------------------------------成就結束------------------------------------*/

/*--------------------------------願望清單------------------------------------*/
.BucBody {
    background-image: url('images/dre_bg.png');
    background-size: 907px 753.5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.BucMainForm {
    position: fixed;
    padding: 20px 50px;
    height: 600px;
    width: 800px;
}

.WishFlex { /*flex區塊(4個願望)*/
    width: 570px;
    height: 570px;
    margin-left: 10%;
    margin-top: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    background-color: darkgray;
*/}

.BucMemo { /* 單個願望便條 */
    background: url('images/dre_memo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}

.ContentFlex {
    font-size: 40px;
    width: 250px;
    height: 250px;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
/*    background-color: burlywood;
*/}

.BucBotton12 {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}
/*.ExchangeButton {*/ /* 兌換按鈕大小 */
    /*font-size: large;
    height: 40px;
    width: 90px;
}*/

#BucTrashcan { /* 垃圾桶按鈕 */
    width: 160.8px;
    height: 259.8px;
    position: absolute;
    top: 100%;
    left: 6%;
    transform: translate(-50%, -50%);
}
    #BucTrashcan:hover {
        width: 176.88px; /* 1.1倍 */
        height: 285.78px; /* 1.1倍 */
    }

#ReviewButton { /* 審核區按鈕 */
    width: 200px;
    height: 220px;
    position: absolute;
    top: 60%;
    left: 88%;
    transform: translate(-50%, -50%);
}
    #ReviewButton:hover {
        width: 220px; /* 1.1倍 */
        height: 242px; /* 1.1倍 */
    }

#BucketAdd { /* 新增願望按鈕 */
    width: 80px;
    height: 80px;
    position: absolute;
    top: 100%;
    left: 87%;
    transform: translate(-50%, -50%);
}
    #BucketAdd:hover {
        width: 96px; /* 1.2倍 */
        height: 96px; /* 1.2倍 */
    }

#RecordButton {
    position: absolute; /*指定絕對位置*/
    width: 100px;
    left: 16%;
    top: 20%;
    transform: translate(-50%, -50%);
}

/*-----------------------願望功能----------------------------*/
.BucWord { /* 願望功能內容文字 */
    margin-top: 80px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}

.YMemo { /* 黃色便條 */
    background-image: url('images/dre_add_memo.png');
}

.BMemo { /* 藍色便條 */
    background-image: url('images/dre_rev_button.png');
}

.MemoStyle { /* 便條區塊樣式 */
    background-size: 650px 650px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    height: 552px;
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.BucForm { /* 願望功能Form樣式 */
    text-align: center;
    padding: 20px;
    width: 260px;
    height: 535px;
    margin-top: 180px;
    margin-left: 50%;
}

/*--換頁紐--*/
.LastNext { /* 區塊 */
    position: absolute; /*指定絕對位置*/
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LastNextSize { /* 按鈕大小 */
    height: 50px;
    width: 50px;
}

#Last { /* 上一個願望 */
    position: absolute;
    left: 40px;
}

#Next { /* 下一個願望 */
    position: absolute;
    right: 0px;
}
/*----------*/

/*--------------願望新增---------------*/
.BucAddButton { /* 按鈕區塊 */
    position: absolute; /*指定絕對位置*/
    width: 260px;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#BucAdd {
    position: absolute;
    right: 0px;
}

#BucUnadd {
    position: absolute;
    left: 0px;
}
/*------------願望新增結束------------*/

/*-------------願望垃圾桶-------------*/
.TraButton {
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}
/*-----------願望垃圾桶結束-----------*/

/*-------------願望審核區-------------*/
.RevPassForm {
    position: absolute;
    text-align: center;
    padding: 20px;
    border-style: solid;
    width: 670px;
    height: 580px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -128%);
}

.NoRev { /* 沒有要審核的願望 */
    position: absolute;
    margin-top: 14%;
    margin-left: 6%;
    font-size: 35px;
    font-weight: bold;
}

.YesNo { /* 可以、不可以 */
    font-size: 30px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    transform: translate(-15%);
    border-block-color: blueviolet;
}

.RevTextbox { /* 輸入金額或原因 */
    font-size: 30px;
    position: absolute; /*指定絕對位置*/
    left: 1%;
    top: 60%;
    width: 650px;
    border-block-color: blueviolet;
}

.BucButton { /* 審核確認紐 */
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.BucPwButton { /* 審核確認紐 */
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.BucButton2 { /* 審核確認紐 */
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.RevForgetPwd {
    margin-left: 190px;
}
/*----------願望審核區結束----------*/
/*------------------------------------更衣室------------------------------------*/
.DreRoomBackground {
    background-image: url('images/home_bg.png'); /* 暫用 */
    background-size: 1416px 984px;
    height: 900px;
    width: 1600px;
}

#DreForm {
    margin-left: 190px;
    height: 100vh;
}

#DreTitle {
    font-size: 55px;
    color: blanchedalmond;
    margin-left: 40%;
    transform: translate(-50%);
}

.Cloth {
    overflow-y: scroll;
    background-color: tan;
    height: 100%;
    width: 515px;
}

.SortButton { /* 類別按鈕區塊 */
    position: absolute; /*指定絕對位置*/
    left: 720px;
    top: 50px;
    width: 100px;
}

.DreButtonSize { /* 類別按鈕 */
    Height: 50px;
    Width: 100px;
    writing-mode: vertical-rl;
    text-align: center;
    margin-top: 5px;
}

.DreButton { /* 底部按鈕區塊 */
    position: absolute; /*指定絕對位置*/
    right: 97px;
    top: 830px;
    width: 410px;
    height: 90px;
}

#DrePersom { /* 人物 */
    position: fixed;
    top: 55%;
    left: 64%;
    transform: translate(-50%, -50%);
}
/*------------------------------------更衣室結束------------------------------------*/

/*------------------------------------小遊戲開始------------------------------------*/
.GameTopTitle { /*頁面標題*/
    position: fixed;
    color: darkcyan;
    font-size: 70px;
    left: 45%;
    top: 60px;
    font-weight: bold;
}

.GameMenuBody { /*小遊戲主畫面背景*/
    background-image: url('images/dre_bg.png'); /*待修改*/
    background-size: 900px 650px; /*待修改*/
    text-align: center;
}

.SJGameTitle {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.GameFlex {
    position: fixed; /*指定絕對位置*/
    top: 300px;
    left: 550px;
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap; /*多行*/
    justify-content: space-evenly; /*div置中*/
}

#JuniorGameButton {
    Height: 300px;
    Width: 300px;
}

#SeniorGameButton {
    Height: 300px;
    Width: 300px;
}

.SJGameTopTitle { /*低高年級主頁面標題(開始遊戲&遊戲介紹那邊)*/
    position: fixed;
    color: darkcyan;
    font-size: 70px;
    left: 44.2%;
    top: 60px;
    font-weight: bold;
}

.SJGameMain {
    position: fixed; /*指定絕對位置*/
    top: 600px;
    left: 915px;
    display: flex;
    width: 500px;
    height: 100px;
    justify-content: space-evenly; /*div置中*/
    flex-direction: column;
}

/*=======高年級========*/
.SJGameLevelTitle {
    position: fixed;
    color: darkcyan;
    font-size: 60px;
    left: 46%;
    top: 60px;
    font-weight: bold;
}

.SGameLevelFlex {
    position: fixed; /*指定絕對位置*/
    top: 220px;
    left: 600px;
    display: flex;
    width: 800px;
    height: 500px;
    flex-wrap: wrap; /*多行*/
    justify-content: space-evenly; /*div置中*/
    align-content: stretch;
}

.SGameLevelButton {
    Height: 130px;
    Width: 130px;
}

.SLevelLastNext {
    position: absolute; /*指定絕對位置*/
    width: 1050px;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*=======高年級========*/

/*=======低年級========*/
.JGameLevelButton {
    Height: 130px;
    Width: 130px;
}

#JGameLevel {
    font-size: 30px;
}

.JGameLevelFlex1 {
    position: fixed; /*指定絕對位置*/
    top: 560px;
    left: 800px;
    display: flex;
    width: 600px;
    height: 400px;
    flex-wrap: wrap; /*多行*/
    justify-content: space-evenly; /*div置中*/
    flex-direction: column; /* 彈性方向:列(縱) */
}

.JGameLevelFlex2 {
    position: fixed; /*指定絕對位置*/
    top: 560px;
    left: 350px;
    display: flex;
    width: 1200px;
    height: 500px;
    flex-wrap: wrap; /*多行*/
    justify-content: space-evenly; /*div置中*/
    align-content: stretch;
}
/*=======低年級========*/
/*------------------------------------小遊戲結束------------------------------------*/
