* {
    margin: 0px 4px 0 0px;
    margin: 0px 4px 0 0px;
    padding: 0;
    color: teal;
}

body {
    position: center;
    background-color: beige;
    font-family: Verdana, Arial;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 479px 0 0px;
    width: 1200px;
}

.button_style { /* 按鈕樣式 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    font-size: large;
}

    .button_style:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

.button_size1 {
    width: 150px;
    height: 40px;
}

.button_size2 {
    font-size: 25px;
    width: 120px;
    height: 60px;
}
/*--------------------------------主畫面---------------------------------------*/
.main_body {
    background-image: url('images/home_bg.png');
    background-size: 1416px 984px;
    height: 900px;
    width: 1600px;
}

#closet { /* 衣櫥 */
    padding-left: 220px;
    padding-top: 150px;
}

.wishes {
    float: right;
    padding-top: 70px;
    padding-right: 20px;
}

#bookkeeping {
    padding-top: 15px;
    padding-left: 10px;
}

#game {
    padding-top: 15px;
    padding-left: 10px;
}

#person {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -40%);
}

#pig {
    position: fixed;
    bottom: -150px;
    left: 60px;
}

.back { /* 返回按鈕 */
    position: fixed;
    bottom: 3px;
    right: 6px;
}
/*--------------------------------主畫面結束---------------------------------------*/

/*---------------------------------任務/設定---------------------------------------*/
.setting {
    float: right;
    margin-top: 5px;
    margin-right: -35px;
}
/*--------------------------------任務/設定結束------------------------------------*/

/*-------------------------------------登入----------------------------------------*/
.log_body {
    background-image: url('images/log_o_door.png');
    background-size: 1416px 730.8px;
}

.b_log_body {
    background-image: url('images/log_c_door.png');
    background-size: 727.2px 656.4px;
}

    .b_log_body:hover {
        box-shadow: 0 0 10px #fff; /* 設定發光效果 */
    }

.log_tit {
    margin-top: 20px;
    font-size: 60px;
}

.log_form {
    text-align: center;
    padding: 20px;
    border-style: solid;
    width: 670px;
    height: 580px;
    margin: auto;
    margin-top: 90px;
    margin-left: 50%;
    transform: translate(-16.5%);
}

.log_text {
    margin-top: 80px;
}

.log_button_block {
    margin-top: 80px;
}

.log_button { /* 登入/註冊按鈕 */
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    .log_button:hover { /* 鼠標放在按鈕上 */
        background-color: lightseagreen;
    }

#user_acc, #user_pwd { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}
/*--------------------------------登入結束------------------------------------*/

/*----------------------------------註冊--------------------------------------*/
.reg_text {
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-60%, 0);
}

.reg_text_block {
    text-align: right;
    width: 365px;
    height: 400px;
    font-size: 20px;
}

.reg_gender {
    margin-bottom: 18px;
}

.reg_button_block {
    transform: translate(10%, 0);
}

#acc, #name, #nickname, #pwd, #c_pwd { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}
/*--------------------------------註冊結束------------------------------------*/

/*----------------------------------記帳--------------------------------------*/
.boo_body {
    background-image: url('images/boo_bg.png');
    background-size: 1093.8px 753.6px;
}

.book_content { /* 記帳區塊 */
    position: center;
    width: 1093.8px;
    height: 753.6px;
    padding: 20px;
}

/*---------------記帳左---------------*/
.boo_left {
    position: fixed;
    top: 100px; /* 留出標題欄的高度 */
    left: 22.8%;
    padding: 20px;
    width: 475px;
    height: 680px;
}

.boo_date {
    font-weight: bold;
    margin-top: 20px;
    height: 80px;
    text-align: center;
}

.boo_table_block {
    margin-left: -20px;
    position: center;
    padding: 20px;
    height: 480px; /* 設定內容區域的高度，使其可以出現滾動條 */
    width: 455px;
    overflow-y: scroll; /* 讓內容區域出現垂直滾動條 */
}

table.gridview {
    width: 395px;
    height: 50px;
    margin-top: 5px;
    margin-left: 30px;
    border: none;
}

    table.gridview tr {
        text-align: center;
    }

    table.gridview th, table.gridview td {
        border-left: none;
        border-right: none;
    }

        table.gridview th:first-child, table.gridview td:first-child {
            border-left: none;
        }

.boo_total { /* 總收入、總支出 */
    font-size: 25px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
}
/*-------------記帳左結束-------------*/

/*---------------記帳右---------------*/
.boo_right {
    position: fixed;
    top: 100px; /* 留出標題欄的高度 */
    left: 51.3%;
    padding: 20px;
    width: 475px;
    height: 680px;
}

.boo_add {
    text-align: center;
    margin-top: 65px;
    margin-left: 5px;
}

.add_bookmark1 {
    position: fixed;
    top: 25px;
    right: 750px;
}

.add_bookmark2 {
    position: fixed;
    top: 52px;
    right: 660px;
}

.add_bookmark3 {
    position: fixed;
    top: 52px;
    right: 570px;
}

.search_bookmark1 {
    position: fixed;
    top: 52px;
    right: 750px;
}

.search_bookmark2 {
    position: fixed;
    top: 25px;
    right: 660px;
}

.search_bookmark3 {
    position: fixed;
    top: 52px;
    right: 570px;
}

.rep_bookmark1 {
    position: fixed;
    top: 52px;
    right: 750px;
}

.rep_bookmark2 {
    position: fixed;
    top: 52px;
    right: 660px;
}

.rep_bookmark3 {
    position: fixed;
    top: 25px;
    right: 570px;
}

.edit_bookmark1 {
    position: fixed;
    top: 52px;
    right: 750px;
}

.edit_bookmark2 {
    position: fixed;
    top: 52px;
    right: 660px;
}

.edit_bookmark3 {
    position: fixed;
    top: 52px;
    right: 570px;
}
/*---類別---*/
.c_container {
    display: flex;
    align-items: center; /* 在主軸上居中對齊flex子元素 */
    justify-content: center; /* 在交叉軸上居中對齊flex子元素 */
    flex-direction: column; /* 將flex子元素的排列方向設置為垂直排列 */
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none; /* 隱藏radio button輸入框 */
}

.radio-btn {
    margin: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid aliceblue;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367; /* 陰影 */
    cursor: pointer;
}

    .radio-btn > i { /* 勾勾 */
        color: #ffffff;
        background-color: teal;
        font-size: 15px;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%) scale(4); /* 向左平移50%，並放大4倍 */
        border-radius: 50px;
        padding: 4px; /* 內邊距 */
        transition: 0.2s; /* 過渡效果秒數 */
        pointer-events: none; /* 設鼠標事件不可用 */
        opacity: 0; /* 透明度 */
    }

    .radio-btn .hobbies-icon { /* 類別圖片 */
        border-radius: 10px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 將圖片向上向左平移50%的宽度和高度 */
    }

        .radio-btn .hobbies-icon i {
            line-height: 80px;
            font-size: 60px;
        }

    .radio-btn h3 { /* 類別文字 */
        margin-top: -10px;
        font-size: large;
    }

.custom-radio input:checked + .radio-btn { /* 如果選取類別 */
    border: 3px solid teal;
}

    .custom-radio input:checked + .radio-btn > i {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
/*---類別結束---*/

input[type="date"], input[type="money"], input[type="memo"], input[type="keyword"] { /* 輸入框 */
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}
/*-------------記帳右結束--------------*/
/*--------------------------------記帳結束------------------------------------*/

/*----------------------------------成就--------------------------------------*/
.ach_body {
    background-image: url('images/ach_bg.png');
    background-size: 851.4px 872.4px;
}

.ach_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.ach_top_tit { /* 頁面標題 */
    position: fixed;
    color: darkcyan;
    font-size: 60px;
    left: 46%;
    top: 60px;
}

.ach_top_button { /* 成就頂端按鈕區塊 */
    position: fixed;
    top: 160px;
    left: 50%;
}

.ach_button_get { /* 成就領取紐 */
    Height: 50px;
    Width: 50px;
    margin-top: -20px;
    margin-left: 300px;
}

.ach_content { /* 成就區塊 */
    position: fixed;
    margin: 35%;
    margin-top: 200px; /* 留出標題欄的高度 */
    padding: 20px;
    height: 550px; /* 設定內容區域的高度，使其可以出現滾動條 */
    width: 510px;
    overflow-y: scroll; /* 讓內容區域出現垂直滾動條 */
}

.ach_tit { /* 成就標題 */
    font-size: xx-large;
    font-weight: bold;
    color: teal;
    margin-left: 50px;
}

.ach_con { /* 成就內容 */
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

.literal { /* 進度條 */
    margin-top: -15px;
}

.ach_content ul li { /* 清單(單項成就) */
    list-style: none;
    width: 100%;
    height: 150px;
}

    .ach_content ul li img { /* 成就圖片 */
        Height: 130px;
        Width: 130px;
        float: left;
        margin-left: -10px;
        top: 0;
        left: 0;
        object-fit: cover;
    }
/*--------------------------------成就結束------------------------------------*/

/*--------------------------------願望清單------------------------------------*/
.buc_body {
    background-image: url('images/dre_bg.png');
    background-size: 907px 753.5px;
    text-align: center;
}

.buc_form {
    margin-top: 50%;
    margin-left: 50%;
}

#b_trashcan {
    position: absolute; /*指定絕對位置*/
    top: 650px;
    left: 400px;
}

.wishes1 {
    position: absolute; /*指定絕對位置*/
    top: 255px;
    left: 921px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
}

.wishes2 {
    position: absolute; /*指定絕對位置*/
    top: 580px;
    left: 550px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes3 {
    position: absolute; /*指定絕對位置*/
    top: 580px;
    left: 730px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes4 {
    position: absolute; /*指定絕對位置*/
    top: 408px;
    left: 900px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes5 {
    position: absolute; /*指定絕對位置*/
    top: 580px;
    left: 900px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes6 {
    position: absolute; /*指定絕對位置*/
    top: 235px;
    left: 1070px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes7 {
    position: absolute; /*指定絕對位置*/
    top: 408px;
    left: 1070px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.wishes8 {
    position: fixed; /*指定絕對位置*/
    top: 580px;
    left: 1070px;
    background: url('images/dre_memo.png');
    background-size: 130px;
    background-repeat: no-repeat;
    font-size: x-large;
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
}

.word1 {
    padding-top: 38px;
    padding-left: 10px;
}

.pick_wish {
    position: fixed; /*指定絕對位置*/
    top: 550px;
    left: 580px;
    background: url('images/dre_m_memo.png');
    background-size: 300px;
    font-size: x-large;
    width: 300px;
    height: 300px;
    margin-top: -300px;
}

.word_pick {
    padding-top: 90px;
    font-size: xx-large;
    font-weight: bold;
}

#change_wish {
    font-size: large;
    Height: 40px;
    Width: 80px;
    margin-top: 25px;
    border: 0;
    background-color: teal;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

    #change_wish:hover {
        background-color: lightseagreen;
    }

#ImageButton2 { /*願望垃圾桶*/
    margin-left: -100px;
}

#ReviewButton { /* 審核區按鈕 */
    position: fixed; /*指定絕對位置*/
    top: 350px;
    left: 1250px;
}

#BucketAdd {
    position: fixed; /*指定絕對位置*/
    top: 710px;
    left: 1230px;
}

/*願望清單-新增*/
.buc_add {
    background-image: url('images/dre_add_memo.png');
    background-size: 650px 650px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    height: 552px;
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.buc_add_form {
    text-align: center;
    padding: 20px;
    width: 260px;
    height: 535px;
    margin-top: 180px;
    margin-left: 50%;
}

#wish_textbox {
    margin-top: 40px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 3px gray;
}

.buc_add_button {
    position: absolute; /*指定絕對位置*/
    width: 260px;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#BucAdd {
    position: absolute;
    right: 0px;
}

#BucUnadd {
    position: absolute;
    left: 0px;
}

/*-----------------------------願望清單-垃圾桶------------------------------*/
.trashcan {
    background-image: url('images/dre_rev_button.png');
    background-size: 650px 650px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    height: 552px;
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.tra_form {
    text-align: center;
    padding: 20px;
    width: 260px;
    height: 535px;
    margin-top: 180px;
    margin-left: 50%;
}

.trashcan_button {
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

/*------------------------------------願望清單-審核區------------------------------------*/
.reviewing {
    background-image: url('images/dre_rev_button.png');
    background-size: 650px 650px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    height: 552px;
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.rev_form {
    text-align: center;
    padding: 20px;
    width: 260px;
    height: 535px;
    margin-top: 180px;
    margin-left: 50%;
}

.word {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 40px;
}

.YesNo {
    font-size: 30px;
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 50%;
    width: 650px;
    transform: translate(-15%);
    border-block-color: blueviolet;
}

.RevTextbox {
    font-size: 30px;
    position: absolute; /*指定絕對位置*/
    left: 1%;
    top: 60%;
    width: 650px;
    border-block-color: blueviolet;
}

/*input[type="reason"] {
    width: 150px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px;   
    box-shadow: 1px 1px 3px gray;
}*/
.dre_button { /* 願望功能確認按鈕 */
    position: absolute; /*指定絕對位置*/
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.last_next {
    position: absolute; /*指定絕對位置*/
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#Last { /*上一個願望*/
    position: absolute;
    left: 40px;
}

#Next { /*下一個願望*/
    position: absolute;
    right: 0px;
}
/*------------------------------------願望清單-審核區結束------------------------------------*/

/*------------------------------------更衣室------------------------------------*/
.c_background {
    background-image: url('images/home_bg.png');
    background-size: 1416px 984px;
    height: 900px;
    width: 1600px;
}

#DreForm {
    margin-left: 190px;
    height: 100vh;
}

#DreTitle {
    font-size: 55px;
    color: blanchedalmond;
    margin-left: 40%;
    transform: translate(-50%);
}

.cloth {
    overflow-y: scroll;
    background-color: tan;
    height: 100%;
    width: 515px;
}

.SortButton {
    position: absolute; /*指定絕對位置*/
    left: 720px;
    top: 50px;
    width: 80px;
}

.DreButtonSize {
    Height: 150px;
    Width: 30px;
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 2;
}

/*#top {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 520px;
    top: 20px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#pents {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 560px;
    top: 20px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#dress {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 520px;
    top: 180px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#hat {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 560px;
    top: 180px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#shoes {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 520px;
    top: 340px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#socks {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 560px;
    top: 340px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#eyes {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 520px;
    top: 500px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#mouth {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 560px;
    top: 500px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#hair {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 520px;
    top: 660px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}

#earring {
    position: absolute;*/ /*指定絕對位置*/
    /*left: 560px;
    top: 660px;
    Height: 150px;
    Width: 30px;
    display: flex;
    align-items: center;
}*/
    .DreButton {
    position: absolute; /*指定絕對位置*/
    right: 97px;
    top: 830px;
}

#DrePersom {
    position: fixed;
    top: 55%;
    left: 64%;
    transform: translate(-50%, -50%);
}
/*------------------------------------更衣室結束------------------------------------*/