* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}

body{
    overflow:hidden;
    background:rgb(74, 132, 189)
}

section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

    /*section .color{
        position:relative;
    }

    section .color:nth-child(1){
        top:-350px;
        width:600px;
        height:600px;
        background:red;
    }

        section .color:nth-child(2) {
            bottom:-150px;
              left:100px;
              width:800px;
              height:800px;
              background:orange;
        }*/

.container {
    position: relative;
    width: 800px;
    min-height: 680px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
}

.p{
    margin-bottom:200px;
}

h1{
    font-size:50px;
    padding-left:10px;
    text-align:center;
}

p{
    padding-left:10px;
    font-size:20px;
}

h2{
    padding-left:10px;
}

button{
    padding-left:100px;
}

div.button{
    padding-left:100px;
}

div.check{
    font-size:20px;
    padding-left:10px;
}

